.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
    max-width: 90%;
    padding: 20px;
    background-color: #333; /* Dark gray background color */
    color: #fff; /* Text color for details */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    z-index: 9999;
    pointer-events: auto; /* Enable pointer events for the popup container */
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.popup.visible {
    opacity: 1;
}

.popup-header {
    text-align: center;
    margin-bottom: 20px;
}

.popup-header h4 {
    margin: 0;
    font-size: 24px;
    color: #00ff00;
}

.popup-contact-info {
    margin-bottom: 20px;
}

.popup-contact-info a {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    text-decoration: none;
    color: #fff; /* Text color for contact info */
}

.popup-contact-info a i {
    margin-right: 10px;
    font-size: 18px;
}

.popup-close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    display: block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    border-radius: 50%;
    background-color: #00ff00;
    pointer-events: auto; /* Enable pointer events for the close button */
}
#logo-animation-container{
    display:block;
    overflow: hidden;
    transform: translate3d(0,0,0);
    text-align: center;
    opacity: 1;
    margin-bottom: -10%;
}