/* Popup Window Styles */
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    opacity: 0; /* Set the initial opacity to 0 (fully transparent) */
    transition: opacity 0.3s ease-in-out; /* Add a transition to the opacity property */
}

.popup.visible {
    opacity: 1; /* Show the popup when it's visible (opacity is 1) */
}

.popup h2 {
    margin-top: 0;
    color: #00ff00;
}

.popup p {
    color: #1c1c1c;
}

.popup button {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #00ff00;
}
